<h1>Get-By-PNR</h1>

<form [formGroup]="searchForm" (ngSubmit)="onSearchClick(searchForm.value)">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" formControlName="pnr" placeholder="pnr" name="pnr" required>

        </div>
    </div>
    <br>
    <div class="btn-group" role="group" aria-label="Third group">
        <button type="submit" class="btn btn-secondary">Search</button>
    </div>
    <table class="table ">
        <thead class="thead table-dark">
            <tr>
                <th scope="col">airlineId</th>
                <th scope="col">flightId</th>
                <th scope="col">userId</th>
                <th scope="col">passengerName</th>
                <th scope="col">passengerEmail</th>
                <th scope="col">gender</th>
                <th scope="col">age</th>
                <th scope="col">optForMeal</th>
                <th scope="col">seatNumber</th>
                <th scope="col">pnr</th>
                <th scope="col">seatCost</th>
                <th scope="col">discount</th>


            </tr>
        </thead>

        <tbody>
            <!-- <tr *ngFor="let fl of flights"> -->
                <th >{{flights.airlineId}}</th>
                <td>{{flights.flightId}}</td>
                <td>{{flights.userId}}</td>
                <td>{{flights.passengerName}}</td>
                <td>{{flights.passengerEmail}}</td>
                <td>{{flights.gender}}</td>
                <td>{{flights.age}}</td>
                <td>{{flights.optForMeal}}</td>
                <td>{{flights.seatNumber}}</td>
                <td>{{flights.pnr}}</td>
                <td>{{flights.seatCost}}</td>
                <td>{{flights.discount}}</td>
               
            <!-- </tr> -->
        </tbody>
    </table>